/*Variables*/

:root {
    --bgcolor: rgba(248, 248, 248, 0.986); ;
    --lightpurple: #7b46bf;
    --fontcolor: rgb(133, 133, 133);
}

/* General */

html {
    font-family: 'Nanum Gothic', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Header Style */

header {
    width: 100%;
}

.header {
    background: url(img/background.jpg);
    background-size: cover;
}

.header {
    margin: auto;
    padding: 2% 0;
    max-width: 960px;
}

.header h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: 0.8em;
    font-size: 4.6em;
    color: white;
}

.header h3 {
    font-size: 1.5em;
    text-align: center;
    line-height: 0em;
    letter-spacing: 0.2em;
    font-weight: 800;
    color: white;
    opacity: 0.6;
}

/* Welcome Style */

.content {
    margin: auto;
    max-width: 960px;
}

.welcome {
    width: 100%;
    position: relative;
    padding: 7%;
    background-color: var(--bgcolor);
}

.welcome h3 {
    font-size: 1.7em;
    text-align: center;
    line-height: 1em;
    color: var(--lightpurple);
    letter-spacing: 0.1em;
    font-weight: 700;
}
.welcome p {
    text-align: center;
    line-height: 1.5em;
    color: var(--fontcolor);
}

.welcome-note p{
    padding: 2%;
}

/* ReadMore Button Style */

.button {
    box-shadow: 0px 3px 14px -7px #276873;
    background:linear-gradient(to bottom, #7a46bf 5%, #a94dc7 100%);
    border-radius: 42px;
    background-color: var(--lightpurple);
    text-decoration: none;
    display: inline-block;
    padding: 10px 37px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.button:hover {
    background:linear-gradient(to bottom, #a94dc7 5%, #7a46bf 100%);
    background-color: #a94dc7;
}

.button:active {
    position: relative;
    top: 1px;
}

/* Portfolio Style */

.myworks h3 {
    opacity: 0.6;
    font-size: 4em;
    text-align: center;
    line-height: 2em;
    color: var(--lightpurple);
    letter-spacing: 0.4em;
    font-weight: 800;
    text-transform: uppercase;
}

.works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.works img {
    width: 100%;
    opacity: 0.9;
    border-radius: 0.7em;
}

/* ViewMore Button Style */
.button-container {
    text-align: center;
    padding: 5%;
}

.button-view {
    box-shadow: 0px 3px 14px -7px #276873;
    background:linear-gradient(to bottom, #7a46bf 5%, #a94dc7 100%);
    border-radius: 42px;
    background-color: var(--lightpurple);
    text-decoration: none;
    display: inline-block;
    padding: 10px 37px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.button-view:hover {
    background:linear-gradient(to bottom, #a94dc7 5%, #7a46bf 100%);
    background-color: #a94dc7;
}

.button-view:active {
    position: relative;
    top: 1px;
}

/* Footer Style */

.footer {
    background-color: var(--bgcolor);
}

.footer-content {
    max-width: 960px;
    line-height: 1.5;
    padding-top: 5px;
}

ul.socialmedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    height: auto;
    width: auto;
}

.socialmedia a{
    font-size: 3em;
    color: var(--lightpurple);
    text-decoration: none;
    line-height: 1.5em;
    padding: 20px;
}

.footer-content p {
    text-align: center;
    color: var(--fontcolor);
    font-size: 0.8em;
}


